

<div class=@("build-mod-frame " + Element + "-background") >
    <img class="" src=@("http://bungie.net/" + Mod.DisplayProperties.Icon) />
    @* <div class="mod-cost-frame">@Mod.Plug.EnergyCost.EnergyCost</div> *@
</div>

@code {
    
}